<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickBite</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <div id="logo-name"></div>
    <div id="user-space">
      <div class="registration">Sign Up</div>
      <div class="registration">Sign In</div>
    </div>
  </nav>
  <div id="pincode-search-button">Click Me</div>
  <script type="module" src="/js/script.js"></script>
</body>

</html>